# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Migrations
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/

# VSCode
.vscode/

# Environment
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# OS files
Thumbs.db
.DS_Store

# pip
pip-log.txt
pip-delete-this-directory.txt

# Windows
*.bak
*.swp
